<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:spring-business.xml" />

    <!--
    <import resource="rmi-rpc-liuns.remoting.framework.liuns.service.xml" />

    <import resource="http-rpc-liuns.remoting.framework.liuns.service.xml" />

    <import resource="hessian-rpc-liuns.remoting.framework.liuns.service.xml" />

    <import resource="soa-liuns.remoting.framework.liuns.service-invoker.xml" />
-->
    <import resource="soa-service-provider.xml" />



    <context:component-scan base-package="liuns.service" />


</beans>