<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liuns.dao.AddressDao">

    <resultMap id="addressResultMap" type="model.liuns.business.po.AddressPO" extends="baseResultMap">
        <result property="parentId" column="parent_id" jdbcType="BIGINT" />
        <result property="addressCode" column="address_code" jdbcType="VARCHAR" />
        <result property="addressName" column="address_name" jdbcType="VARCHAR" />
    </resultMap>
    
    <!-- 新增用户 -->
    <insert id="insert" parameterType="model.liuns.business.po.AddressPO">
        insert into address
        (id, parent_id, address_code, address_name, is_deleted, create_user_id, create_time, last_update_user_id, last_update_time, server_ip, version_no)
          values
        (#{id}, #{parentId}, #{addressCode}, #{addressName}, 0, #{createUserId}, #{createTime}, #{lastUpdateUserId}, #{lastUpdateTime}, #{serverIp}, #{versionNo})
    </insert>

    <!-- 根据id更新用户 -->
    <update id="update" parameterType="model.liuns.business.po.AddressPO">
        update address set id = #{id}
        <if test="parentId != null">
            ,parent_id = #{parentId}
        </if>
        <if test="address_code != null">
            , address_code = #{addressCode}
        </if>
        <if test="addressName != null">
            , address_name = #{addressName}
        </if>
        <if test="lastUpdateUserId != null">
            ,last_update_user_id = #{lastUpdateUserId}
        </if>
        <if test="serverIp != null">
            ,server_ip = #{serverIp}
        </if>
        <if test="versionNo != null">
            ,version_no = #{versionNo}
        </if>
        where id = #{id}
    </update>

    <!-- 根据用户id获取用户 -->
    <select id="get" parameterType="java.lang.Long" resultMap="addressResultMap">
        select <include refid="baseSql" /> parent_id, address_code, address_name from address where id = #{id} and is_deleted = 0
    </select>
</mapper>